@model IEnumerable<LibraryManagement.Data.LibraryDBContext.BookReservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
  @*   <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedAvailabilityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedAvailabilityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
